package logger

import (
	"go.uber.org/zap"
	"go.uber.org/zap/zapcore"
)

type Logger = zap.Logger

var (
	String = zap.String
	Int    = zap.Int
	Int64  = zap.Int64
	Error  = zap.Error
	Any    = zap.Any
)

func New(level, format string) *Logger {
	var l zapcore.Level
	if err := l.UnmarshalText([]byte(level)); err != nil {
		l = zapcore.InfoLevel
	}

	var zapConfig zap.Config
	if format == "json" {
		zapConfig = zap.NewProductionConfig()
	} else {
		zapConfig = zap.NewDevelopmentConfig()
	}
	
	zapConfig.Level = zap.NewAtomicLevelAt(l)
	logger, _ := zapConfig.Build()
	return logger
}
