# 自动生成的路由配置 - Tue Jan 27 15:35:59 CST 2026
# 源文件: /Users/sam/Projects/2026/uyou-api-gateway/services/user/api/proto/user.proto
routes:
  - id: "user_create"
    name: "user_create"
    uri: /api/v1/users
    methods: ["POST"]
    plugins:
      jwt-auth: {}
      limit-req:
        rate: 5
        burst: 10
        key: "remote_addr"
        rejected_code: 429
      grpc-transcode:
        proto_id: "1"
        service: "user.UserService"
        method: "Create"
    upstream:
      nodes:
        "user:50051": 1
      type: roundrobin
      scheme: grpc
  - id: "user_get"
    name: "user_get"
    uri: /api/v1/users/:id
    methods: ["GET"]
    plugins:
      serverless-pre-function:
        phase: rewrite
        functions:
          - "return function(conf, ctx) local id = ctx.curr_req_matched and ctx.curr_req_matched.id; if id then ngx.req.set_uri_args({id = id}) end end"
      grpc-transcode:
        proto_id: "1"
        service: "user.UserService"
        method: "Get"
    upstream:
      nodes:
        "user:50051": 1
      type: roundrobin
      scheme: grpc
  - id: "user_update"
    name: "user_update"
    uri: /api/v1/users/:id
    methods: ["PUT"]
    plugins:
      serverless-pre-function:
        phase: rewrite
        functions:
          - "return function(conf, ctx) local id = ctx.curr_req_matched and ctx.curr_req_matched.id; if id then ngx.req.set_uri_args({id = id}) end end"
      grpc-transcode:
        proto_id: "1"
        service: "user.UserService"
        method: "Update"
    upstream:
      nodes:
        "user:50051": 1
      type: roundrobin
      scheme: grpc
  - id: "user_delete"
    name: "user_delete"
    uri: /api/v1/users/:id
    methods: ["DELETE"]
    plugins:
      serverless-pre-function:
        phase: rewrite
        functions:
          - "return function(conf, ctx) local id = ctx.curr_req_matched and ctx.curr_req_matched.id; if id then ngx.req.set_uri_args({id = id}) end end"
      grpc-transcode:
        proto_id: "1"
        service: "user.UserService"
        method: "Delete"
    upstream:
      nodes:
        "user:50051": 1
      type: roundrobin
      scheme: grpc
  - id: "user_list"
    name: "user_list"
    uri: /api/v1/users
    methods: ["GET"]
    plugins:
      grpc-transcode:
        proto_id: "1"
        service: "user.UserService"
        method: "List"
    upstream:
      nodes:
        "user:50051": 1
      type: roundrobin
      scheme: grpc
